/* <<< Trade Gothic LT Condensed Bold No. 20 >>> */
@font-face {
		font-family: 'Trade Gothic LT Condensed Bold No. 20';
		src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Trade%20Gothic%20LT%20Condensed%20Bold%20No.%2020.woff);
		font-weight: 400;
		font-style: normal;
}

/* <<< Trade Gothic LT Condensed Light No. 18 >>> */
@font-face {
	font-family: 'Trade Gothic LT Condensed Light No. 18';
	src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Trade%20Gothic%20LT%20Condensed%20Light%20No.%2018.woff);
	font-weight: 400;
	font-style: normal;
}

/* <<< Museo 700 >>> */
@font-face {
		font-family: 'Museo 700';
		src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Museo%20700.woff);
		font-weight: 400;
		font-style: normal;
}

/* <<< Museo 300 >>> */
@font-face {
		font-family: 'Museo 300';
		src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Museo%20300.woff);
		font-weight: 400;
		font-style: normal;
}
