@font-face {
	font-family: 'Trade Gothic LT Condensed Light No. 18';
	src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Trade%20Gothic%20LT%20Condensed%20Light%20No.%2018.woff);
	font-weight: 400;
	font-style: normal;
}
