@font-face {
		font-family: 'Trade Gothic LT Cnd Bold No. 20';
		src: url(https://rawcdn.githack.com/mauriciopaterninar/go-smart-fonts/blob/master/Trade Gothic LT Condensed Bold No. 20.woff);
		font-weight: normal;
		font-style: normal;
}
