@font-face {
		font-family: 'Trade Gothic LT Condensed Bold No. 20';
		src: url(https://cdn.rawgit.com/mauriciopaterninar/fonts/blob/master/Trade%20Gothic%20LT%20Condensed%20Bold%20No.%2020.woff);
		font-weight: 400;
		font-style: normal;
}
